SERVER_NAME=PlazaNet Accounts
PLAZANET_NAME=PlazaNet
JWT_SECRET=very-long-random-secret-change-this-pretty-please
PORT=:7592
AUTH_SECURE=true
HTTP_ONLY=true

PLAZANET_ENABLED=false
PLAZANET_URL=http://localhost:7593
GAMEPLAZA_ENABLED=false