<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pal Creator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Create Your Pal</h1>
        <div class="pal-preview"></div>
        <p><a href="/me">Open Account Page</a></p>
        <!-- BG Color -->
        <label>Background Color: <br><input type="color" id="base-color"></label>
        <div class="tabs">
            <button class="tab-btn" data-tab="head">Head</button>
            <button class="tab-btn" data-tab="hair">Hair</button>
            <button class="tab-btn" data-tab="eyes">Eyes</button>
            <button class="tab-btn" data-tab="nose">Nose</button>
            <button class="tab-btn" data-tab="mouth">Mouth</button>
            <button class="tab-btn" data-tab="accessory">Accessory</button>
        </div>
        
        <!-- Head -->
        <div class="tab-content" id="tab-head">
            <input type="color" id="head-color">
            <div class="part-previews" id="head-previews"></div>
        </div>

        <!-- Hair -->
        <div class="tab-content" id="tab-hair" style="display:none">
            <input type="color" id="hair-color">
            <div class="part-previews" id="hair-previews"></div>
        </div>

        <!-- Eyes -->
        <div class="tab-content" id="tab-eyes" style="display:none">
            <input type="color" id="eyes-color">
            <div class="part-previews" id="eyes-previews"></div>
        </div>

        <!-- Nose -->
        <div class="tab-content" id="tab-nose" style="display:none">
            <input type="color" id="nose-color">
            <div class="part-previews" id="nose-previews"></div>
        </div>

        <!-- Mouth -->
        <div class="tab-content" id="tab-mouth" style="display:none">
            <input type="color" id="mouth-color">
            <div class="part-previews" id="mouth-previews"></div>
        </div>

        <!-- Accessory -->
        <div class="tab-content" id="tab-accessory" style="display:none">
            <input type="color" id="accessory-color">
            <div class="part-previews" id="accessory-previews"></div>
        </div>

        <button class="save-btn" id="save-pal-btn">Save Pal</button>
    </div>
    <script type="text/javascript">
        const pal_parts = {{ pal_parts|tojson|safe }};
        const pal_json = {{ pal_json|tojson|safe }};
    </script>
    <script src="/static/pal_creator.js"></script>
</body>
</html>
